<form [formGroup]="formFilter" class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Author</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Author"
           matInput
           formControlName="authorFilter"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let author of authors" [value]="author | authorFullName">
        {{author | authorFullName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

<ng-container formGroupName="price">
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Price min</mat-label>
    <input
      matInput
      type="number"
      class="example-right-align"
      placeholder="0"
      formControlName="minPriceFilter"
    >
    <mat-error *ngIf="minControl.invalid && (minControl.touched || minControl.dirty)">Wrong price</mat-error>
    <span matSuffix>₽&nbsp;</span>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Price max</mat-label>
    <input
      matInput
      type="number"
      class="example-right-align"
      placeholder="0"
      formControlName="maxPriceFilter"
      [errorStateMatcher]="matchersMapPriceFilter.minPriceGreaterMaxPrice"
    >
    <mat-error>Wrong price</mat-error>
    <span matSuffix>₽&nbsp;</span>
  </mat-form-field>
</ng-container>


  <ng-container formGroupName="date">
  <mat-form-field appearance="fill">
    <mat-label>Writing date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="writingDateFilter"
      [errorStateMatcher]="matchersMapCompareDate.comparedDate"
      [disabled]="formFilter.get('price')!.hasError('disableDate')"
    >
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>Writing date cannot be greater than release date</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Release date</mat-label>
    <input
      matInput
      [matDatepicker]="picker1"
      formControlName="releaseDateFilter"
      [errorStateMatcher]="matchersMap.releaseDate"
      [disabled]="formFilter.get('price')!.hasError('disableDate')"
    >
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <mat-error>Release date cannot be greater than now</mat-error>
  </mat-form-field>
  </ng-container>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input
      type="text"
      matInput
      placeholder="Title..."
      formControlName="titleFilter"
    >
  </mat-form-field>
</form>


<button [disabled]="formFilter.invalid" (click)="filterSearch()">Search</button>
<button (click)="clearForm()">Clear</button>
