<form [formGroup]="formFilter" class="example-form">
<!--  <mat-form-field class="example-full-width" appearance="fill">-->
<!--    <mat-label>Author</mat-label>-->
<!--    <input type="text"-->
<!--           placeholder="Pick one"-->
<!--           aria-label="Author"-->
<!--           matInput-->
<!--           formControlName="authorFilter"-->
<!--           [matAutocomplete]="auto">-->
<!--    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
<!--      <mat-option *ngFor="let author of authors" [value]="author | authorFullName">-->
<!--        {{author | authorFullName}}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->
<!--  </mat-form-field>-->

  <mat-form-field class="example-full-width" appearance="fill">
    <app-authors-filter
      [value]="authors"
      placeholder="Pick one..."
    ></app-authors-filter>
  </mat-form-field>

  <ng-container formGroupName="price">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Price min</mat-label>
      <input
        matInput
        type="number"
        class="example-right-align"
        placeholder="0"
        formControlName="minPriceFilter"
      >
      <mat-error *ngIf="minPriceControl.invalid && (minPriceControl.touched || minPriceControl.dirty)">Wrong price</mat-error>
      <span matSuffix>₽&nbsp;</span>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Price max</mat-label>
      <input
        matInput
        type="number"
        class="example-right-align"
        placeholder="0"
        formControlName="maxPriceFilter"
        [errorStateMatcher]="matchersMapPriceFilter.minPriceGreaterMaxPrice"
      >
      <mat-error>Wrong price</mat-error>
      <span matSuffix>₽&nbsp;</span>
    </mat-form-field>
    <mat-error
      *ngIf="priceControl.hasError('minPriceGreaterMaxPrice') && (minPriceControl.touched && maxPriceControl.touched)">Min
      greater max
    </mat-error>
  </ng-container>

    <app-date-filters formControlName="date"></app-date-filters>
    <mat-error *ngIf="formFilter.get('date')?.hasError('comparedDate')">Writing date cannot be greater than release date</mat-error>
    <mat-error *ngIf="formFilter.get('date')?.hasError('releaseDate')">Release date cannot be greater than now</mat-error>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input
      type="text"
      matInput
      placeholder="Title..."
      formControlName="titleFilter"
    >
  </mat-form-field>
</form>


<button [disabled]="formFilter.invalid" (click)="filterSearch()">Search</button>
<button (click)="clearForm()">Clear</button>
