<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
  </mat-card-header>
  <section class="image">
    <img mat-card-image src="{{ book.imageUrl }}" alt="Photo of a Shiba Inu">
  </section>
  <mat-card-content>
    <p>
      {{book.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <section>
      <button mat-raised-button color="primary">View more info</button>
      <button mat-raised-button color="primary">Buy</button>
    </section>
    <p>Price: {{ book.price }}</p>
  </mat-card-actions>
</mat-card>

