<mat-card class="example-card" *ngIf="author.first_name">
  <mat-card-header>
    <mat-card-title>{{ currentBook.title }}</mat-card-title>
    <mat-card-subtitle>{{ author.first_name }} {{ author.last_name }}</mat-card-subtitle>
  </mat-card-header>
  <section class="image">
    <img mat-card-image src="{{currentBook.imageUrl}}" alt="Photo of a Shiba Inu">
  </section>
  <mat-card-content>
    <p>
      {{currentBook.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <section>
      <button mat-raised-button color="primary" (click)="goToInfo(currentBook.id)">View more info</button>
      <button mat-raised-button color="primary">Buy</button>
    </section>
    <p>Price: {{ currentBook.price }}</p>
  </mat-card-actions>
</mat-card>
