<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Lightlark (Book 1)</mat-card-title>
    <mat-card-subtitle>B&N Exclusive Edition</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B300%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&product=path%5B/pimages/9781419766671_p0_v1%5D&call=url%5Bfile:common/decodeProduct.chain%5D" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      This collectible "romance edition" includes an exclusive bonus chapter told from the POV of the protagonist's love interest and a deluxe case featuring a full-color, alternate cover design.
      #BookTok phenomenon and award-winning author Alex Aster delivers readers a masterfully written, utterly gripping YA fantasy novel
    </p>
  </mat-card-content>
  <mat-card-actions>
    <section>
      <button mat-button>View more info</button>
      <button mat-button>Buy</button>
    </section>
    <p>Price: 16.99$</p>
  </mat-card-actions>
</mat-card>
<section></section>
