section {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  width: 80vw;
}

.scroll-viewport {
  width: 25vw;
  height: 90vh;
  border: 1px solid black;
}

