<nav>
  <ul>
    <li>
      <button
        mat-raised-button
        color="primary"
        [attr.aria-disabled]="current === 1"
        [disabled]="current === 1"
        (click)="onPrevious()"
      >
        Previous
      </button>
    </li>
    <li *ngFor="let page of pages;">
      <a
        [class.current]="page === current"
        (click)="onGoTo(page)"
      >
        {{ page }}
      </a>
    </li>
    <li>
      <button
        mat-raised-button
        color="primary"
        [disabled]="current === metaData?.pages"
        (click)="onNext()"
      >
        Next
      </button>
    </li>
  </ul>
  <section class="select">
    <mat-form-field appearance="fill">
      <mat-label>Elements per page</mat-label>
      <select matNativeControl required>
        <option
          *ngFor="let option of options"
          (click)="changeElementsPerPage(option)"
        >{{ option }}</option>
      </select>
    </mat-form-field>
  </section>
</nav>

