<section class="container">
  <input type="text"
         [placeholder]="placeholder"
         matInput
         [formControl]="autocomplete"
         autocomplete="off"
         (focus)="onFocus()"
  >
  <section
    class="options"
    *ngIf="isDropDownOpen">
    <section
      *ngFor="let option of options"
    >
      <mat-option
        class="current-option"
        (click)="setValueIntoInput(option)"
      >
        <ng-container *ngIf="autocompleteOptions; else defaultTemplate">
          <ng-container *ngTemplateOutlet="autocompleteOptions; context: { option: option }">
          </ng-container>
        </ng-container>
        <ng-template #defaultTemplate>
          {{ displayWith(option) }}
        </ng-template>
      </mat-option>
    </section>
  </section>
  <section class="options">
    <ng-container *ngIf="!options.length && autocomplete.dirty">
      <ng-container *ngIf="!isAddOptionFormOpen">
        <ng-container disabled="true" *ngIf="autocompleteNoResult">
          <ng-container *ngTemplateOutlet="autocompleteNoResult; context: { noResultValue: autocomplete.value}"></ng-container>
<!--          <button-->
<!--            mat-raised-button-->
<!--            color="primary"-->
<!--            *ngIf="withCreate"-->
<!--            (click)="openOptionForm()"-->
<!--          >Add</button>-->
        </ng-container>
      </ng-container>
<!--      <app-create-option-form-->
<!--        *ngIf="isAddOptionFormOpen"-->
<!--        (saveOption)="saveOption($event)"-->
<!--      ></app-create-option-form>-->
    </ng-container>
  </section>

</section>
