<input type="text"
       [placeholder]="placeholder"
       aria-label="Author"
       matInput
       [formControl]="authorFilter"
       (focus)="onFocus()"
       #input
>
<!--<mat-autocomplete #auto="matAutocomplete">-->
<!--  <mat-option-->
<!--    [value]="author | authorFullName"-->
<!--    *ngFor="let author of value"-->
<!--  >{{ author | authorFullName }}</mat-option>-->
<!--</mat-autocomplete>-->

<ng-container
  class="options"
  *ngIf="isDropDownOpen">
  <section
    *ngFor="let author of value"
  >
    <mat-option
      #options
      (click)="setValueIntoInput(author)"
    >
      {{author | authorFullName}}
    </mat-option>
  </section>
</ng-container>
