<section class="container">
  <input type="text"
         [placeholder]="placeholder"
         aria-label="Author"
         matInput
         [formControl]="autocomplete"
         autocomplete="off"
         (focus)="onFocus()"
  >
  <section
    class="options"
    *ngIf="isDropDownOpen">
    <section
      *ngFor="let option of options"
    >
      <ng-container *ngIf="options.length===0">
        <ng-container *ngTemplateOutlet="noResult"></ng-container>
      </ng-container>
      <mat-option
        class="current-option"
        (click)="setValueIntoInput(option)"
      >
        <ng-container *ngIf="autocompleteOptions; else defaultTemplate">
          <ng-container *ngTemplateOutlet="autocompleteOptions; context: { option: option }">
          </ng-container>
        </ng-container>
        <ng-template #defaultTemplate>
          {{ displayWith(option) }}
        </ng-template>
        <ng-template
          #noResult>{{autocomplete.value}} not found</ng-template>
      </mat-option>
    </section>
  </section>
</section>
