<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource!==undefined">-->

<!--  <ng-container matColumnDef="position">-->
<!--    <th mat-header-cell *matHeaderCellDef> No.</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="name">-->
<!--    <th mat-header-cell *matHeaderCellDef> Name</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="weight">-->
<!--    <th mat-header-cell *matHeaderCellDef> Books</th>-->
<!--    <td mat-cell *matCellDef="let element">-->
<!--      <li *ngFor="let book of element.books">{{book.title}}</li>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="symbol">-->
<!--    <th mat-header-cell *matHeaderCellDef> Genres</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.nationality}} </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

<!--</table>-->

<mat-list role="list" *ngFor="let author of dataSource">
  <mat-list-item routerLink="{{author.id}}" role="listitem"><span>{{author.first_name + author.last_name}}</span></mat-list-item>
</mat-list>

<mat-paginator (page)="changePage($event)"
               [length]="length"
               [pageSize]="pageSize"
               aria-label="Select page">
</mat-paginator>
