<app-table
  [result]="authors$ | async"
  [isPagination]="true"
  [total]="totalAuthors$ | async"
  (goToPage)="goToPage($event)"
  (goToNextPage)="goToPage($event)"
  (goToPreviousPage)="goToPage($event)"
  (changeElementsPerPage)="goToPage($event)"
>
  <ng-template appTableHeader field="id">
    <app-sortable-header
      field="id"
      direction="ask"
    >
      ID
    </app-sortable-header>
  </ng-template>
  <ng-template appTableHeader field="firstName">
    <app-sortable-header
      field="firstName"
      direction="desc"
    >
      First Name
    </app-sortable-header>
  </ng-template>
  <ng-template appTableHeader field="lastName">
    <app-sortable-header
      field="lastName"
      direction="ask"
    >
      Last Name
    </app-sortable-header>
  </ng-template>
<!--  <app-table-header>-->
<!--    ID-->
<!--  </app-table-header>-->
<!--  <app-table-header>-->
<!--    First Name-->
<!--  </app-table-header>-->
<!--  <app-table-header>-->
<!--    Last Name-->
<!--  </app-table-header>-->

  <ng-template appTableCell let-id="id">
    {{ id }}
  </ng-template>
  <ng-template appTableCell let-firstName="firstName">
    {{ firstName }}
  </ng-template>
  <ng-template appTableCell let-lastName="lastName">
    {{ lastName }}
  </ng-template>
</app-table>
