<app-table
  [result]="authors$ | async"
  [isPagination]="true"
>
  <ng-template appTableHeader>
    ID
  </ng-template>
  <ng-template appTableCell let-id="id">
    {{ id }}
  </ng-template>

  <ng-template appTableHeader>
    First Name
  </ng-template>
  <ng-template appTableCell let-firstName="firstName">
    {{ firstName }}
  </ng-template>

  <ng-template appTableHeader>
    Last Name
  </ng-template>
  <ng-template appTableCell let-lastName="lastName">
    {{ lastName }}
  </ng-template>
</app-table>
