.author-table {
  width: 50vw;
  height: 100%;
  border: 1px solid black;

  td {
    border: 1px solid black;
  }
}

.author-table-header {
  display: flex;
  align-items: center;
  width: 40vw;
  justify-content: space-between;
  margin-left: 20px;
}
