<form class="example-form" [formGroup]="registrationForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email"
           placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="registrationForm.get('email')?.hasError('email') && !registrationForm.get('email')?.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput
           placeholder="Ex. pat@example.com"
           formControlName="password"
    >
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error>
      Please enter a valid password
    </mat-error>
    <mat-error>
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput
           placeholder="Ex. pat@example.com"
           formControlName="confirmPassword"
    >
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error>
      Please enter a valid password
    </mat-error>
    <mat-error>
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <section class="buttons">
    <button
      (click)="createNewUser()"
      type="submit"
      mat-raised-button color="primary"
      [disabled]="registrationForm.invalid"
    >Create New Account
    </button>

    <button
      mat-raised-button color="primary"
      routerLink="/login"
    >Switch to login
    </button>
  </section>
</form>

<section *ngIf="isModal" class="modal">
  <section class="container">
    <span>User with this email already exists</span>
    <button mat-raised-button color="primary">Close</button>
  </section>
</section>
